[workspace]
resolver = "2"
members = [
    # Library
    "showtimes_db",
    "showtimes_fs",
    "showtimes_gql",
    "showtimes_metadata",
    "showtimes_search",
    "showtimes_shared",
    "showtimes_derive",

    # Binary
    "showtimes_migrate",
    "showtimes",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["noaione <noaione@n4o.xyz>"]
license = "AGPL-3.0"
repository = "https://github.com/naoTimesdev/showtimes-rs"
homepage = "https://naoti.me"

[workspace.dependencies]
# Essential stuff
tokio = { version = "1.38.1", features = ["full"] }
serde = { version = "1.0.204", features = ["derive"] }
serde_json = "1.0.120"
toml = { version = "0.8.14", features = ["preserve_order"] }
uuid = { version = "1.10.0", features = ["v7", "fast-rng"] }
ulid = "1.1.3"
chrono = "0.4.38"
lazy_static = "1"
anyhow = "1"
futures = "0.3.30"
tosho-macros = "0.3"
async-trait = "0.1.81"

# File server
bytes = "1"
mime_guess = "2.0.5"
aws-config = { version = "1.5.4", features = ["behavior-version-latest"] }
aws-credential-types = "1.2.0"
aws-sdk-s3 = "1.42.0"

# Web server
axum = { version = "0.7.5", features = ["ws", "tracing"] }
async-graphql = { version = "7.0.7", features = ["uuid", "tracing", "bson", "password-strength-validator"] }
async-graphql-axum = "7.0.7"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tower-http = { version = "0.5.2", features = ["cors", "trace"] }

# Database
mongodb = { version = "3.0.1", features = ["rustls-tls"] }
bson = { version = "2.11.0", features = ["chrono-0_4"] }
redis = { version = "0.25.4", features = ["tokio-comp"] }
meilisearch-sdk = "0.27.0"

# FansubRSS/Network
reqwest = { version = "0.12.5", features = ["rustls-tls", "http2", "json"] }
feed-rs = "2.0.0"
pulldown-cmark = "0.11.0"

# CI-PROFILE-MARK