# Host and port for the server
host = "127.0.0.1"
port = 5560
# Where to run the tokio-console monitoring, this will run only on localhost
tokio-port = 5562
# Master key for the server
master_key = "masterkey"
log-directory = ""

# JWT/session configuration
[jwt]
# JWT mode
# Note: For RSA, ensure you generate the key in PSS/PKCS#1 v2.1 mode instead of PKCS#1 v1.5
mode = "hmac" # Either `hmac`, `rsa`, `ecdsa`, `eddsa` (x25519)
# SHA variant to be used
variant = 384 # Either 256, 384, or 512 (variant-512 only available for hmac, rsa. Ignored on `eddsa` mode)
# JWT HMAC secret, if using hmac
secret = "super-duper-secret-jwt-key"
# JWT expiration time
expiration = 604800
# JWT public key path, for rsa, ecdsa, and eddsa
# public_key = "./keys/pub.pem"
# JWT private key path, for rsa, ecdsa, and eddsa
# private_key = "./keys/priv.key"

# Database connection string
[database]
# MongoDB connection string
mongodb = "mongodb://root:secure-ntdb-password@localhost:27017"
# Redis-adjacent (Valkey, etc) connecting string
# Note: We will not support Redis 7.4+
redis = "redis://localhost:6379/0"

# Meilisearch config
[search]
# Meilisearch URL
url = "https://your.meilisearch.instance"
# Meilisearch key, allow write access to the index
api_key = "meilisearch-api-key-or-master-key"

# ClickHouse config
[events]
# ClickHouse connection string
url = "http://localhost:8123"
# Clickhouse user
user = "default"
# Clickhouse password, uncomment if you have a password
# password = "your-clickhouse-password"

# Discord OAuth2
[discord]
client_id = "00000000000000000000"
client_secret = "supersecretdiscordclientsecret"
redirect_url = "https://your.naotimes.ui.instance/callback/discord"

# External or metadata services API key
[external]
# VNDB Token
vndb = "your-valid-token-for-vndb"
# TMDB Token
tmdb = "your-valid-access-token-for-tmdb"

# Configuration for FansubRSS/Showtimes RSS
[rss]
enabled = true
# Interval of the feed fetcher in seconds
standard = 300
premium = 120
standard_limit = 2
premium_limit = 5

[storages]
# Disable the proxy that can mirror S3 data, not recommended if you use local
# disable_proxy = false

# Local storage path
[storages.local]
path = "./storages"

# S3 storage
# To enable S3 storage, uncomment the following block
# [storages.s3]
# bucket = "naotimes"
# access_key = ""
# secret_key = ""

# Full URL to the endpoint, without the protocol
# region = "ap-southeast-1"
# endpoint = "s3.ap-southeast-1.amazonaws.com"  # can be empty

# Path style can be "path" or "virtual"
# Virtual: {bucket}.s3.{region}.amazonaws.com
# Path: s3.{region}.amazonaws.com/{bucket}
# path_style = "virtual"